body{
   background-color: bisque;
}
h1{
    color: black;
}
.centrar{
    margin: auto; 
    display: flex;
    justify-content: center;
}
.amarillo{
    background-color: burlywood;
    height: 250px;
}
.azul{
    background-color: cornsilk;
    height: 250px;
}
.rojo{
    background-color: darkgray;
    height: 250px;
}
p{
    color:grey;
}